# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Editor directories and files
.idea
.idea/*
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Nuxt generate
dist

package-lock.json
yarn.lock
